<p id="notice"><%= notice %></p>

<h1>Atp Imposts</h1>

<table>
  <thead>
    <tr>
      <th>Impost</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atp_imposts.each do |atp_impost| %>
      <tr>
        <td><%= atp_impost.impost %></td>
        <td><%= atp_impost.product %></td>
        <td><%= link_to 'Show', atp_impost %></td>
        <td><%= link_to 'Edit', edit_atp_impost_path(atp_impost) %></td>
        <td><%= link_to 'Destroy', atp_impost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atp Impost', new_atp_impost_path %>
