<p id="notice"><%= notice %></p>

<p>
  <strong>Impost:</strong>
  <%= @atp_impost.impost %>
</p>

<p>
  <strong>Product:</strong>
  <%= @atp_impost.product %>
</p>

<%= link_to 'Edit', edit_atp_impost_path(@atp_impost) %> |
<%= link_to 'Back', atp_imposts_path %>
