<%= form_for(promotion_has_product) do |f| %>
  <% if promotion_has_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion_has_product.errors.count, "error") %> prohibited this promotion_has_product from being saved:</h2>

      <ul>
      <% promotion_has_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :promotion_id %>
    <%= f.text_field :promotion_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
