<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @planning.product %>
</p>

<p>
  <strong>Prodiver:</strong>
  <%= @planning.prodiver %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @planning.flag %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @planning.quantity %>
</p>

<p>
  <strong>Planning date:</strong>
  <%= @planning.planning_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @planning.final_date %>
</p>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
